---
layout: page
title: The Technology & Innovation in Medical Education Lab
description: Who We Are and What We Do
---

The Technology & Innovation in Medical Education Lab is an interdisciplinary team that conducts research about learning, teams and education technology. We primarily solve research problems in the field of medical education and focus on the design of technology rich learning environments, Human-Computer Interaction, Learning analytics, Artifical Intelligence, and eXtended Reality. We collaborate closely with UM faculty in Computer Science & Engineering and the UM School of Information.

Ph.D., graduate and undergraduate students

<div class="row">
    <div class="col-sm-4 mt-3 mt-md-0">
        {% include figure.html path="assets/img/1.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
<div class="caption">
    NAME.
</div>
    <div class="col-sm-4 mt-3 mt-md-0">
        {% include figure.html path="assets/img/3.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
<div class="caption">
    NAME.
</div>
    <div class="col-sm-4 mt-3 mt-md-0">
        {% include figure.html path="assets/img/5.jpg" title="example image" class="img-fluid rounded z-depth-1" %}
    </div>
<div class="caption">
    NAME.
</div>
</div>
